<div fxLayout="row wrap" fxLayout.md="column" fxLayoutGap="16px" style="justify-content: space-between;">
  <!-- Bitcoin -->
  <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" class="mt-20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Bitcoin</mat-card-title>
        <mat-card-subtitle>Adquira agora Bitcoins em sua carteira</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-20" style="display: flex; justify-content: center;">
        <img src="images/bitcoin.png" alt="Bitcoin" width="60" height="60">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Ethereum -->
  <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" class="mt-20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Ethereum</mat-card-title>
        <mat-card-subtitle>Adquira agora Ethereum em sua carteira</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-20" style="display: flex; justify-content: center;">
        <img src="images/ethereum.png" alt="Ethereum" width="60" height="60">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Dólar -->
  <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" class="mt-20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Dólar</mat-card-title>
        <mat-card-subtitle>Adquira agora Dólares em sua carteira</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-20" style="display: flex; justify-content: center;">
        <img src="images/dollar.png" alt="Dólar" width="60" height="60">
      </mat-card-content>
    </mat-card>
  </div>

  <!-- Euro -->
  <div fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%" class="mt-20">
    <mat-card>
      <mat-card-header>
        <mat-card-title>Euro</mat-card-title>
        <mat-card-subtitle>Adquira agora Euros em sua carteira</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="mt-20" style="display: flex; justify-content: center;">
        <img src="images/euro.png" alt="Euro" width="60" height="60">
      </mat-card-content>
    </mat-card>
  </div>
</div>
