<div class="layout-container">
  <mat-toolbar color="primary">
    <mat-icon fontIcon="star"></mat-icon>
    <a routerLink="/home" class="custom-links"><span>StarBank</span></a>
    <span class="spacer"></span>
    <mat-icon fontIcon="home"  fxHide.md></mat-icon><a routerLink="/home" class="custom-links"> Home </a>
    <mat-icon fontIcon="feed" fxHide.md style="margin-left: 20px;"></mat-icon><a routerLink="/register" class="custom-links"> Cadastrar </a>
    <mat-icon fontIcon="account_circle" fxHide.md style="margin-left: 20px;"></mat-icon><a routerLink="/login" class="custom-links"> Login</a>
  </mat-toolbar>

  <main class="content">
    <router-outlet></router-outlet>
  </main>


<mat-toolbar class="footer" fxLayout="row"  style="justify-content: space-between;">

  <!-- Esquerda: Ícones sociais com gap -->
  <div fxLayout="row" fxLayoutGap="16px">
    <a href="https://www.linkedin.com/in/seu-perfil" target="_blank">
      <mat-icon fontIcon="linkedin" style="color: white;"></mat-icon>
    </a>
    <a href="https://github.com/seu-usuario" target="_blank">
      <mat-icon fontIcon="code" style="color: white;"></mat-icon>
    </a>
    <a href="mailto:seu@email.com">
      <mat-icon fontIcon="email" style="color: white;"></mat-icon>
    </a>
  </div>

  <!-- Centro: texto -->
  <span>© 2025 StarBank - Todos os direitos reservados</span>

  <!-- Direita: ícone do app -->
  <div fxLayoutAlign="end center">
    <mat-icon fontIcon="star" style="color: white;"></mat-icon> <span>StarBank</span>
  </div>
</mat-toolbar>

</div>
