<mat-toolbar color="primary">
 <mat-icon fontIcon="star"></mat-icon>
   <a routerLink="/home" class="custom-links"><span>StarBank</span></a>
  <span class="spacer"></span>
  <mat-icon fontIcon="home" style="cursor: pointer;"></mat-icon><a routerLink="/home" class="custom-links"> Home </a>
  <mat-icon fontIcon="feed" style="margin-left: 20px; cursor: pointer;"></mat-icon><a routerLink="/register" class="custom-links"> Cadastrar </a>
  <mat-icon fontIcon="account_circle" style="margin-left: 20px; cursor: pointer;"></mat-icon><a routerLink="/search" class="custom-links"> Login</a>
</mat-toolbar>
<router-outlet></router-outlet>
