.custom-links {
  text-decoration: none;
  color: black;
  margin-left: 10px;
  cursor: pointer;
  padding: 0;
}
.custom-links:hover {
  color: #3f51b5; /* Change to your desired hover color */
}
.error{
  color: red;
  font-size: 0.8em;
  margin-top: 0.5em;
}
