<div fxLayout="row" fxLayoutAlign="center">
  <div fxLayout="column" fxFlex="1000px">
    <form #newUserForm="ngForm" class="mt-60">
      <mat-card>
        <mat-card-header>
          <mat-card-title>Cadastro de Usuário</mat-card-title>
          <mat-card-subtitle>Preencha os campos abaixo para criar uma nova conta</mat-card-subtitle>
        </mat-card-header>

        <mat-card-content class="mt-20">
          <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div class="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Nome: </mat-label>
                <input type="text" placeholder="José" matInput  name="name" required>
              </mat-form-field>
            </div>
          </div>

           <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div class="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Sobrenome: </mat-label>
                <input type="text" placeholder="Silva Santos" matInput  name="lastName" required>
              </mat-form-field>
            </div>
          </div>

           <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div class="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>CPF: </mat-label>
                <input type="text" placeholder="123456789-10" mask="000.000.000-00" matInput  name="cpf" required>
              </mat-form-field>
            </div>
          </div>

           <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div class="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Celular: </mat-label>
                <input type="text" placeholder="11940028922" mask="(00) 00000-0000" matInput  name="phone" required>
              </mat-form-field>
            </div>
          </div>

           <div fxLayout="row" fxLayoutAlign="start" fxLayoutGap="16px">
            <div class="column" fxFlex="800px">
              <mat-form-field class="full-width">
                <mat-label>Email: </mat-label>
                <input type="email" placeholder="teste@teste.com" matInput  name="email" required>
              </mat-form-field>
            </div>
          </div>
        </mat-card-content>
                <mat-card-actions>
         <div fxLayout="row">
          <div fxLauout="column" class="full-width">
            @if(!updating){
             <button mat-flat-button color="primary" type="submit"><mat-icon fontIcon="save"></mat-icon> Salvar</button>
            }@else{
             <button mat-flat-button color="primary"><mat-icon fontIcon="refresh"></mat-icon> Atualizar</button>
            }
             <button mat-flat-button color="accent" class="ml-5"><mat-icon fontIcon="backspace"></mat-icon> Limpar</button>
          </div>
         </div>
        </mat-card-actions>
      </mat-card>
    </form>
  </div>
</div>
